/* Common */

.read-more-link a {
    padding: 0 5px;
    color: var(--theme-color);
}

.read-more-link:hover {
    background-color: var(--theme-color-light);
    border-bottom: 1px solid var(--theme-color);
}

/*================
* Post Card
*================*/

.post__card {
    padding: 0 0 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.post__card .post__title {
    margin-bottom: 10px;
    color: #444;
    letter-spacing: 0.04em;
}

.post__card .post__title h1 {
    font-size: inherit;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
}

.post__card .post__title a {
    color: inherit;
}

.post__card .post__title a:hover {
    color: var(--theme-color);
    text-decoration: none;
}

.post__card .post__img {
    margin-bottom: 10px;
}

.post__card .post__img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.post__card .post__meta {
    margin: 5px auto;
    font-size: 13px;
    color: var(--muted-color);
    display: flex;
}

.post__card .post__meta .icon {
    margin-left: 10px;
    margin-right: 5px;
}

.post__card .post__meta>div:first-child>.icon {
    margin-left: 0;
}

.post__card .post__excerpt {
    text-align: justify;
    font-size: 15px;
    color: var(--excerpt-color);
}

/*================
* Post Card Big
*================*/

.post__card.card__big {
    padding: 0 0 10px;
    margin-bottom: 30px;
}

.post__card.card__big .post__title {
    text-align: center;
    margin-bottom: 15px;
}

.post__card.card__big .post__title h1 {
    font-size: 30px;
    font-weight: bold;
}

.post__card.card__big .post__img {
    margin-bottom: 15px;
}

.post__card__big .post__img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.post__card.card__big .post__meta {
    margin: 10px auto;
    justify-content: center;
}

/*================
* Post Card Alt
*================*/

.post__card.card__alt {
    border-bottom-width: 0;
}

.post__card.card__alt .card__img img {
    height: 230px;
}

