.post__media {
    margin: 15px 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ddd;
}

.post__media .media__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--title-color);
}

.post__media .media__title a {
    color: var(--title-color);
}

.post__media .media__title a:hover {
    color: var(--title-color-hover);
}

.post__media .post__meta {
    margin: 5px auto;
    font-size: 13px;
    color: var(--muted-color);
    display: flex;
}

.post__media .post__meta>div:first-child>.icon {
    margin-left: 0;
}

/* Media Simple */

.post__media.media__simple {
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
}

.post__media.media__simple .media__title {
    font-size: 15px;
    font-weight: 400;
    color: var(--title-color);
}