/*
* ===========
*  Pagination
* ===========
**/

.pagination {
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 0;
    padding: 15px 10px;
    font-weight: 400;
}

.pagination .page-numbers {
    margin: auto 5px;
    padding: 10px 16px;
    background-color: #fff;
    color: #00B16A;
}

.pagination .page-numbers:hover {
    background-color: var(--pagination-background-color-hover);
    color: #fff;
    transform: scale(1.10);
    transition: transform 0.1s ease-in-out;
}

.pagination .page-numbers.dots {
    color: var(--pagination-background-color);
}

.pagination .page-numbers.current {
    background-color: var(--pagination-background-color);
    color: #fff;
    transform: scale(1.10);
    font-weight: bold;
}

/*
* ===========
*  Simple Pagination
* ===========
**/

.simple-pagination {
    line-height: 1.5!important;
    ;
}

.simple-pagination .pagination-arrow {
    color: #f4645f;
    transition: all .2s ease-in-out;
}

.simple-pagination .pagination-arrow svg {
    height: 5em;
}

.simple-pagination:hover .pagination-arrow.arrow-left {
    transform: translateX(-20px);
}

.simple-pagination:hover .pagination-arrow.arrow-right {
    transform: translateX(20px);
}

.simple-pagination .title {
    color: var(--title-color);
}
.simple-pagination:hover .title {
    color: var(--title-color-hover);
}

.simple-pagination .date {
    color: var(--muted-color);
}