:root {
	/* 
	--nav-menu-bg-color: #093a0d;
	--nav-menu-active-color: #052d07;
	--nav-menu-hover-color: #16561c;
	--theme-color: #1f7027;
	--theme-color-light: #c3d6c4;
	--muted-color: #868385;
	--title-color: #444;
	--title-color-hover: #1f7027;
	--exceprt-color: #5d5b5b;
	--pagination-background-color: #1f7027;
	--pagination-background-color-hover: #c30316;
	--footer-title-color: #759078;
	--footer-icons-color: #dbe4dc;
	*/
	--nav-menu-bg-color: #33558f;
	--nav-menu-active-color: #14305f;
	--nav-menu-hover-color: #294b84;
	--theme-color: #3d68b2;
	--theme-color-light: #e0e8f6;
	--muted-color: #868385;
	--title-color: #444;
	--title-color-hover: #33558f;
	--exceprt-color: #5d5b5b;
	--pagination-background-color: #33558f;
	--pagination-background-color-hover: #c30316;
	--footer-title-color: #b4b6b9;
	--footer-icons-color: #dbe4dc;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
}

/*
* ===================
*  Header Navigation
* ===================
**/

#navigationMenu {
	background-color: var(--nav-menu-bg-color);
}

#navbarMenu .navbar-nav .nav-item .nav-link {
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 15px 20px;
	display: block;
	position: relative;
	text-shadow: none;
}

#navbarMenu .navbar-nav .nav-item.active .nav-link {
	background-color: var(--nav-menu-active-color);
	color: #fff;
}

#navbarMenu .navbar-nav .nav-item .nav-link:hover {
	background-color: var(--nav-menu-hover-color);
	color: #fff;
}

#navbarMenu .dropdown-menu {
	border: 0;
	border-radius: 0;
	background-color: var(--nav-menu-bg-color);
	box-shadow: 0 0 1px 2px var(--nav-menu-bg-color);
}

#navbarMenu .dropdown:hover>.dropdown-menu {
	display: block;
}

#navbarMenu .dropdown>.dropdown-toggle:active {
	pointer-events: none;
}

#navbarMenu .dropdown-menu li a {
	color: #fff;
}

#navbarMenu .dropdown-menu li a:hover {
	background-color: var(--nav-menu-hover-color);
	color: #fff;
}

/*
* =============
*  container-custom
* =============
**/

.container-custom {
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/*
* ===========
*  SVG Icon
* ===========
**/

.svg-icon {
	display: inline-flex;
	align-self: center;
	fill: currentColor;
}

.svg-icon svg {
	height: 1em;
	width: 1em;
}

.svg-icon.svg-baseline svg {
	top: .125em;
	position: relative;
}

/*
* =================
*  Category Header
* =================
**/

.category__header {
	width: 100%;
	margin-bottom: 1.875rem;
	display: flex;
	border-bottom: 1px solid var(--theme-color);
	font-size: 1.2rem;
}

.category__header a {
	color: inherit;
}

.category__header .category__title {
	padding: 0 15px;
	background-color: var(--theme-color);
	color: #fff;
	line-height: 1.65;
}

.category__header .category__link {
	margin-left: auto;
	align-self: center;
	font-size: .95rem;
	color: var(--theme-color);
}

.category__header .category__link a {
	padding: 5px 7px;
}

.category__header .category__link a:hover {
	background-color: var(--theme-color-light);
}

/*
* =============
*  Page Header
* =============
**/

.page__heading {
	padding: 15px 0px;
}

.page__heading .title {
	border-left: 4px solid var(--theme-color);
	padding-left: 20px;
	font-size: 24px;
	font-weight: 600;
	color: var(--title-color);
}

/*
* ===================
*  Card Shadow unused
* ===================
**/

.card-shadow {
	box-shadow: 0 1px 5px rgba(143, 143, 143, 0.09);
	/* box-shadow: 0 1px 5px #dcdcdc; */
}

/*
* ===================
*  Common Post Meta
* ===================
**/

.post__meta {
	margin: 5px auto;
	font-size: 15x;
	color: var(--theme-color);
	display: flex;
}

.post__meta .icon {
	margin-left: 10px;
	margin-right: 5px;
}

.post__meta>div:first-child>.icon {
	margin-left: 0;
}

/*=======================
* Video container  unsused
=========================*/

.video-container {
	text-align: center;
}

.video-container iframe {
	width: 100%!important;
	height: auto!important;
	min-height: 350px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
* ===========
*  Footer
* ===========
**/

footer {
	background-color: var(--nav-menu-bg-color);
	color: #efefef;
}

.footer-title {
	color: var(--footer-title-color);
}

.footer-content {}

footer .icon {
	color: var(--footer-icon-color);
	margin-right: 5px;
}

footer a {
	color: inherit;
}

footer a:hover {
	color: inherit;
	text-decoration: underline;
}