/* Fonts */

.font-noto {
    font-family: 'Noto Sans', sans-serif;
}

.font-14px {
    font-size: 14px!important;
}

.font-15px {
    font-size: 15px!important;
}

.font-16px {
    font-size: 16px!important;
}

.font-17px {
    font-size: 17px!important;
}

.font-18px {
    font-size: 18px!important;
}

.inherit-color {
    color: inherit;
}
